.content {
    max-width: 1140px;
    padding: 0px 30px;
    margin: auto;
    margin-top: 90px;
    display: grid;
    grid-template-columns: 20% 20% 40% 20%;;
    grid-template-rows: repeat(4, minmax(100px,max-content));
}

.content__binary {
    grid-column-start: 1;
    grid-row: 1 / 3;
}

.content__binary > span {
    display: block;
}

.content__js {
    background-color: #fff3c0;
    grid-column-start: 2;
    grid-row: 1 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.content__java {
    background-color: 	#ff3975;
    grid-column-start: 2;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__php {
    background-color: #8aa3d1;
    grid-column: 5/3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.content__net {
    background-color: #a682b7;
    grid-column-start: 3;
    grid-row: 2 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__event {
    background-color: #7dd2fa;
    grid-column-start: 4;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__blog {
    background-color: #40a0e0;
    grid-column-start: 4;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__contact {
    background-color: #19679b;
    grid-column-start: 4;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__qa {
    background-color:#86eeb7;
    grid-column-start: 1;
    grid-row: 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__binary > img {
    width: 50%;
}

.content__js > span {
    font-size: 5em;
    font-weight: 900;
    padding: 10px;
}

.content__qa > span {
    font-size: 5em;
    color: #ffffff;
}

.content__java > span {
    font-size: 3em;
    color: #ffffff;
}

.content__php > span {
    font-size: 4em;
    font-weight: 400;
    padding: 10px;
    font-style: italic;
}

.content__net > span {
    font-size: 4em;
    font-weight: 400;
    padding: 10px;
    color: #ffffff;
    display: block;
}

.content__event {
    color: #ffffff;
    font-size: 1em;
}

.content__blog {
    color: #ffffff;
    font-size: 1em;
}

.content__contact {
    color: #ffffff;
    font-size: 1em;
}

.content__binary .back {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content__binary .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.content__binary .flip-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;

}

.content__binary .flipper {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: white;
}

.content__binary .flipper img {
    width: 50%;
}

.content__binary .front, .back {
    backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
}

.content__binary .back > a {
    background-color: #4156ce;
    padding: 5px 15px;
    text-decoration: none;
}

.content__binary .back a:hover {
    background-color:#2a3eaf;
}

.content__binary .front {
    z-index: 2;
}

.content__binary .back {
    transform: rotateY(180deg);
}

.content__binary .vertical.flip-container {
    position: relative;
}

.content__binary .vertical .back {
    transform: rotateX(180deg);
}

.content__binary .vertical.flip-container .flipper {
    transform-origin: 100% 213.5px;
}

.content__binary .vertical.flip-container:hover .flipper {
    transform: rotateX(-180deg);
}