body {
    background-color:#f0f0f0;
}

header {
    background-color:#ffffff;
    position: fixed;
    width: 100%;
    top:-50px;
    transform: translate(0, 50px);
    transition: transform 1s ;
    z-index: 1000;
}

.head {
    max-width: 1140px;
    margin: auto;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head .head__logo {
    width: 5em;
}

.head .head__nav > a {
    background-color:#f7c035;
    padding: 5px;
    color:#ffffff;
    border-radius: 50%;
    text-decoration: none;
}

.head .head__right > a {
    margin-right: 20px;
    color: #f0f0f0;
}
.head .head__right > a:hover {
    margin-right: 20px;
    color: #4d4646;
}

.head .head__nav {
    display: inline-block;
}

.head nav {
    position: absolute;
    padding: 12px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 7px -117px;
    display: none;
}

.head nav li {
    margin-top: 8px;
    text-decoration: none;
}

.head nav li a {
    text-decoration: none;
}

.head nav li:first-child > a {
    color:#e2e2d8;
}

.head__nav:hover nav {
    display: block;
}

.head__nav:hover > a {
    background-color: #d7a118;
}

.head nav li:first-child > :after {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #e2e2d8;
    margin-top: 5px;
}

.head nav li:not(:first-child) a {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.head nav li:not(:first-child):hover {
    background-color:#e2e2d8;
}