
@media only screen and (max-width: 767px) {
    .content {
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: repeat(5, minmax(100px,max-content));
    }

    .content__binary {
        grid-column: 1/3;
    }

    .content__js {
        display: grid;
        grid-column: 3;
        grid-row: 1/2;
    }

    .content__java {

    }

    .content__php {

    }

    .content__net {

    }

    .content__event {
        grid-column: 4;
        grid-row: 1;
    }

    .content__blog {

    }

    .content__contact {

    }

    .content__qa {

    }
}
